<div class="container">
  <div class="card-vehicle">

    <h1>Hhhhhhhhhh</h1>

    <p> <%= @user.first_name %> <%= @user.last_name %></p>
    <p> <%= @user.email %> </p>



      <%= cl_image_tag @user.profile_picture, height: 200, width: 200, crop: :fill  %>


 <i class="fas fa-edit"></i> <%= link_to "Edit", edit_user_path(@user)  %>
