<div class="row">
  <% vehicles.each do |vehicle| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
              <div class="card-vehicle">

                  <div class="flex-header">
                    <div class="location"><i class="fas fa-map-marker-alt"></i> <%= vehicle.location %></div>
                    <div class="rating">
                      <% if vehicle.vehicle_reviews.average(:rating) %>
                        <%= vehicle.vehicle_reviews.average(:rating).round(1) %><i class="fas fa-star"></i>
                      <% else %>
                        ?<i class="fas fa-star"></i>
                      <% end %>
                    </div>
                  </div>
                <div class="bike-background">
                  <%= cl_image_tag vehicle.image, class:'vehicle-avatar' %>
                  <%= cl_image_tag vehicle.user.profile_picture, class:'user-avatar rotate' %>
                </div>

                <div class="card-vehicle-body flex-body">
                  <div><strong><%= vehicle.price %>€</strong>/day</div>
                </div>

                <div class="card-vehicle-footer">
                  <%= vehicle.name %>
                </div>
              </div>
          </div>
          <div class="back">
            <!-- back content -->
            <div class="card-vehicle">
              <%= link_to vehicle_path(vehicle) do %>
                <%= cl_image_tag vehicle.image, class: 'card-img-back' %>
                <div class="filter filter-color"><div id="awesome-link">See this vehicule</div></div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

