<%= form_tag(vehicles_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil%>
<% end %>
<br>

<% vehicles.each do |vehicle| %>
  <%= cl_image_tag vehicle.image %>
  <%= link_to "#{vehicle.name} (#{vehicle.price} €)", vehicle_path(vehicle) %>
  <h2>location</h2>
  <p><%= vehicle.location %></p>
  <% if vehicle.vehicle_reviews.average(:rating) %>
    <%= "rating: #{vehicle.vehicle_reviews.average(:rating).round(1)}" %>
  <% else %>
    <%= "rating: none" %>
  <% end %>

  <br>
<% end %>
