<div class="main">
  <h1><%= link_to @rental.vehicle.name, vehicle_path(@rental.vehicle) %></h1>
  
  <p>From: <%= @rental.start_date %></p>
  <p>To:   <%= @rental.end_date %></p>
    <% img_url = rental.vehicle.user.profile_picture.url || image_path("profile_pic_default.jpg") %>
    <%= image_tag img_url %>
    <%= @rental.total_price %>
  
  <% if !@rental.vehicle_review %>
    <% if @rental.status == 'accepted' && @rental.end_date < Date.today %>
      <%= simple_form_for [@rental, @vehicle_review] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :rating %>
        <%= f.input :description %>
        <%= f.button :submit %>
      <% end %>
  
    <% elsif @rental.status == 'accepted' %>
      Accepted
    <% elsif @rental.status == 'declined' || @rental.end_date < Date.today %>
      Declined
    <% else %>
      Pending
    <% end %>
  
  <% else %>
    You already left a comment
  <% end %>
</div>
