<h1><%= link_to @rental.vehicle.name, vehicle_path(@rental.vehicle) %></h1>
<p>From: <%= @rental.start_date %></p>
<p>To:   <%= @rental.end_date %></p>
<%= image_tag @rental.vehicle.image, alt: "Vehicle image" %>
<%= @rental.total_price %>

  <% if @rental.status == 'accepted' && @rental.end_date < Date.today %>
    <%= link_to 'Add a review', rental_path(@rental) %>
  <% elsif @rental.status == 'accepted' %>
    Accepted
  <% elsif @rental.status == 'declined' || @rental.end_date < Date.today %>
    Declined
  <% else %>
    Pending
  <% end %>
