<h1>Vehicle Index</h1>

<% @vehicles.each do |vehicle| %>
  <%= image_tag vehicle.image %>
  <%= link_to "#{vehicle.name} (#{vehicle.price} €)", vehicle_path(vehicle) %>
  <h2>location</h2>
  <p><%= vehicle.location %></p>
  <p><%= vehicle.latitude %></p>
  <p><%= vehicle.longitude %></p>
  <% if vehicle.vehicle_reviews.average(:rating) %>
    <%= "rating: #{vehicle.vehicle_reviews.average(:rating).round(1)}" %>
  <% else %>
    <%= "rating: none" %>
  <% end %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
></div>
