<h1 style="margin-left: "><%= @vehicle.name %></h1>
<%= link_to "retour à l'index", vehicles_path %>
<br>
<br>
<div class="container">
  <div class="card-vehicle">
    <%= image_tag @vehicle.image %>
    <p> <%= " #{@vehicle.price} €" %> </p>
    <p> <%= @vehicle.description %> </p>
    <p> <%= @vehicle.category %> </p>
    <p> <%= @vehicle.user.first_name %> </p>
    <% @vehicle.vehicle_reviews.each do |review| %>
      <div class="container">
        <div class="card-review">
          <h2>description</h2>
          <p><%= review.description %></p>
          <h2>rating</h2>
          <p><%= review.rating %></p>
          <h2>name</h2>
          <p><%= review.rental.user.first_name %></p>
          <%= image_tag review.rental.user.profile_picture, alt: "User_img", style: "width: 250px;border-radius: 10px;" %>
        </div>
      </div>
      <hr>
    <% end %>

  </div>
</div>
