<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WheelBarrowNB</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  </head>
  <body>

    <div class="navbar-lewagon">
      <a href="/">
        <%= image_tag "wheelbarrow-icon.png", class: "brand" %>
      </a>

      <!-- displayed on laptops -->
      <div class="navbar-lewagon-actions d-none d-sm-flex">

        <% if user_signed_in? %>
          <a href="/owner_dashboard" class="navbar-lewagon-link">My wheelbarrows</a>
          <div class="badge-container">
            <a href="/rentals" class="navbar-lewagon-link">My Rides</a>
          </div>
          <div class="dropdown">
            <% img_url = current_user.profile_picture.url || image_path("profile_pic_default.jpg") %>
            <%= image_tag img_url, class: "avatar dropdown-toggle", id: "dropdownMenuButton", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"%>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <i class="fas fa-user-circle"></i> <%= link_to "My Profile", my_profile_path, class: "dropdown-item"  %>
              <i class="fas fa-sign-out-alt"></i> <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            </div>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "navbar-lewagon-link" %>
          <% end %>
        </div>
      </div>

      <!-- displayed on phone / tablet -->
      <!-- <div class="navbar-lewagon-actions d-block d-sm-none">
        <div class="dropdown">
          <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a href="#" class="dropdown-item"><i class="fas fa-home"></i> Browse flats</a>
            <a href="#" class="dropdown-item"><i class="fas fa-comments"></i> Messages <span
                class="badge badge-pill badge-secondary text-white">5</span></a>
            <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
          </div>
        </div>
      </div> -->
    </div>
    <div class="main">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
